.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

button,
input {
  margin: 1em auto 0;
}

.deleteIconStyle:hover{
   color: blue;
   cursor: pointer;
}

.deleteIconStyle:active{
  color: red;
}
