@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: bold;
}

.links {
  list-style: none;
  display: flex;
  width: 20%;
  justify-content: space-between;
  position: fixed;
  bottom: 10px;
  left: 35%;
}
